In [1]:
import numpy as np
import pandas as pd

In [2]:
# Question 11
# Level 2

# Question:
# Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input 
# and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be 
# printed in a comma separated sequence.
# Example:
# 0100,0011,1010,1001
# Then the output should be:
# 1010
# Notes: Assume the data is input by console.

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.

In [37]:
print ' '.join(map(str,[i for i in map(int,raw_input().split(',')) if i%5==0]))

0100,0011,1010,1001
100 1010

In [38]:
# Question 12
# Level 2

# Question:
# Write a program, which will find all such numbers between 1000 and 3000 (both included) 
# such that each digit of the number is an even number.
# The numbers obtained should be printed in a comma-separated sequence on a single line.

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.

In [118]:
i=range(1000,3001)

In [102]:
def div2(d2):
    if d2%2==0:
        return True
    else:
        return False

In [106]:
def div2_all(d3):
    if np.sum(map(div2,map(int,[j for j in str(d3)])))==4:
        return True
    else:
        return False

In [122]:
pd.Series(i)[map(div2_all,range(1000,3001))].head(5)

1000    2000
1002    2002
1004    2004
1006    2006
1008    2008
dtype: int64

In [127]:
values=[]
for i in range(1000,3001):
    s=str(i)
    if(int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print values

['2000', '2002', '2004', '2006', '2008', '2020', '2022', '2024', '2026', '2028', '2040', '2042', '2044', '2046', '2048', '2060', '2062', '2064', '2066', '2068', '2080', '2082', '2084', '2086', '2088', '2200', '2202', '2204', '2206', '2208', '2220', '2222', '2224', '2226', '2228', '2240', '2242', '2244', '2246', '2248', '2260', '2262', '2264', '2266', '2268', '2280', '2282', '2284', '2286', '2288', '2400', '2402', '2404', '2406', '2408', '2420', '2422', '2424', '2426', '2428', '2440', '2442', '2444', '2446', '2448', '2460', '2462', '2464', '2466', '2468', '2480', '2482', '2484', '2486', '2488', '2600', '2602', '2604', '2606', '2608', '2620', '2622', '2624', '2626', '2628', '2640', '2642', '2644', '2646', '2648', '2660', '2662', '2664', '2666', '2668', '2680', '2682', '2684', '2686', '2688', '2800', '2802', '2804', '2806', '2808', '2820', '2822', '2824', '2826', '2828', '2840', '2842', '2844', '2846', '2848', '2860', '2862', '2864', '2866', '2868', '2880', '2882', '2884', '2886', '2888']

In [ ]:
# Question 13
# Level 2

# Question:
# Write a program that accepts a sentence and calculate the number of letters and digits.
# Suppose the following input is supplied to the program:
# hello world! 123
# Then, the output should be:
# LETTERS 10
# DIGITS 3

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.

In [5]:
nw_list=raw_input().split()

hello world! 123

In [29]:
d={'LETTERS':0,'DIGITS':0}

for i in nw_list:
    for j in i:
        if j.isdigit():
            d['DIGITS']=d['DIGITS']+1
        if j.isalpha():
            d['LETTERS']=d['LETTERS']+1
print 'LETTERS', d['LETTERS']
print 'DIGITS', d['DIGITS']

LETTERS 10
DIGITS 3

In [ ]:
# Question 14
# Level 2

# Question:
# Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
# Suppose the following input is supplied to the program:
# Hello world!
# Then, the output should be:
# UPPER CASE 1
# LOWER CASE 9

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.

In [30]:
q14=raw_input().split()

Hello world!

In [38]:
d={'UPPER CASE':0,'LOWER CASE':0}

for i in q14:
    for j in i:
        if j.isupper():
            d['UPPER CASE']+=1
        if j.islower():
            d['LOWER CASE']+=1            
print 'LOWER CASE', d['LOWER CASE']
print 'UPPER CASE', d['UPPER CASE']

LOWER CASE 9
UPPER CASE 1

In [39]:
# Question 15
# Level 2

# Question:
# Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
# Suppose the following input is supplied to the program:
# 9
# Then, the output should be:
# 11106

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.

In [69]:
c2='dfsdfsdfs'
c3=1234123
print "%s %d" % (c2,c3)

dfsdfsdfs 1234123

In [53]:
a = raw_input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print n1+n2+n3+n4

11106