In [1]:
import numpy as np
import pandas as pd

In [2]:
#----------------------------------------#
# Question 1
# Level 1

# Question:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
# between 2000 and 3200 (both included).
# The numbers obtained should be printed in a comma-separated sequence on a single line.

# Hints: 
# Consider use range(#begin, #end) method

In [3]:
15%15

0

In [4]:
l=[i for i in range(2000,3201) if (i%7==0) & (i%5!=0)]
l_n=map(str,l)

In [5]:
print ','.join(l_n)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [6]:
print "--------".join(l_n)

2002--------2009--------2016--------2023--------2037--------2044--------2051--------2058--------2072--------2079--------2086--------2093--------2107--------2114--------2121--------2128--------2142--------2149--------2156--------2163--------2177--------2184--------2191--------2198--------2212--------2219--------2226--------2233--------2247--------2254--------2261--------2268--------2282--------2289--------2296--------2303--------2317--------2324--------2331--------2338--------2352--------2359--------2366--------2373--------2387--------2394--------2401--------2408--------2422--------2429--------2436--------2443--------2457--------2464--------2471--------2478--------2492--------2499--------2506--------2513--------2527--------2534--------2541--------2548--------2562--------2569--------2576--------2583--------2597--------2604--------2611--------2618--------2632--------2639--------2646--------2653--------2667--------2674--------2681--------2688--------2702--------2709--------2716--------2723--------2737--------2744--------2751--------2758--------2772--------2779--------2786--------2793--------2807--------2814--------2821--------2828--------2842--------2849--------2856--------2863--------2877--------2884--------2891--------2898--------2912--------2919--------2926--------2933--------2947--------2954--------2961--------2968--------2982--------2989--------2996--------3003--------3017--------3024--------3031--------3038--------3052--------3059--------3066--------3073--------3087--------3094--------3101--------3108--------3122--------3129--------3136--------3143--------3157--------3164--------3171--------3178--------3192--------3199

.join method
- https://www.tutorialspoint.com/python/string_join.htm

In [7]:
s = "-";
seq = ("a", "b", "c"); # This is sequence of strings.
print s.join( seq )

a-b-c

In [8]:
# Question 2
# Level 1

# Question:
# Write a program which can compute the factorial of a given numbers.
# The results should be printed in a comma-separated sequence on a single line.
# Suppose the following input is supplied to the program:
# 8
# Then, the output should be:
# 40320

In [9]:
def fb(x):
    if x==0:
        return 1
    return x*fb(x-1)

In [10]:
fb(8)

40320

In [11]:
# Question 3
# Level 1

# Question:
# With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
# Suppose the following input is supplied to the program:
# 8
# Then, the output should be:
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.
# Consider use dict()

In [12]:
def c_sq(i):
    return {i:i**2 for i in range(1,i+1)}

In [13]:
c_sq(20)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [14]:
# Question 4
# Level 1

# Question:
# Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which 
# contains every number.
# Suppose the following input is supplied to the program:
# 34,67,55,33,12,98
# Then, the output should be:
# ['34', '67', '55', '33', '12', '98']
# ('34', '67', '55', '33', '12', '98')

# Hints:
# In case of input data being supplied to the question, it should be assumed to be a console input.
# tuple() method can convert list to tuple

In [31]:
s=raw_input()

j,jk,j

In [37]:
?s.split()

In [10]:
def tuple_list():
    l=list(input())
    t=tuple(l)
    return l,t

In [12]:
tuple_list()

'g','g','5'

(['g', 'g', '5'], ('g', 'g', '5'))

In [29]:
l=['gsfsdfsd,do not know how ','g','5']

In [30]:
l[0].split(",")

['gsfsdfsd', 'do not know how ']

In [ ]:
# Question 5
# Level 1

# Question:
# Define a class which has at least two methods:
# getString: to get a string from console input
# printString: to print the string in upper case.
# Also please include simple test function to test the class methods.

# Hints:
# Use __init__ method to construct some parameters

In [10]:
class Employee:
    pass

In [15]:
emp_1=Employee()
emp_2=Employee()

In [16]:
print(emp_1)
print(emp_2)

<__main__.Employee instance at 0x000000000945F0C8>
<__main__.Employee instance at 0x000000000945F108>

In [21]:
emp_1.firt='Corey'
emp_1.last='Schafer'
emp_1.email='Corey.Shafer@compay.com'
emp_1.pay=50000

emp_2.firt='test'
emp_2.last='user'
emp_2.email='test.user@compay.com'
emp_2.pay=60000

In [28]:
print(emp_1.email)
print(emp_2.email)

corey.Schafer@company.com
user.test@company.com

In [43]:
class Employee:
    
    num_of_emps=0
    raise_amount=1.04
    
    def __init__(self,first,last,pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first+'.'+last+'@company.com'
        
        Employee.num_of_emps +=1
    
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
        
    
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)

In [9]:
emp_1=Employee('corey','Schafer',50000)
emp_2=Employee('user','test',60000)
print(emp_1.email)
print(emp_2.email)

corey.Schafer@company.com
user.test@company.com

In [5]:
print('{} {}'.format(emp_1.first,emp_1.last))

corey Schafer

In [6]:
print(emp_1.fullname())
print(emp_2.fullname())

corey Schafer
user test

In [7]:
emp_1.fullname()
Employee.fullname(emp_1)

'corey Schafer'

In [31]:
print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

50000
52500

In [32]:
print(emp_1.pay)

52500

In [33]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [20]:
print(Employee.__dict__)

{'__module__': '__main__', '__init__': <function __init__ at 0x000000000979B828>, 'raise_amount': 1.04, 'fullname': <function fullname at 0x000000000979BDD8>, '__doc__': None, 'apply_raise': <function apply_raise at 0x000000000979BC88>}

In [21]:
print(emp_1.__dict__)

{'pay': 52000, 'last': 'Schafer', 'email': 'corey.Schafer@company.com', 'first': 'corey'}

In [35]:
Employee.raise_amount=1.05
emp_1=Employee('corey','Schafer',50000)
emp_2=Employee('user','test',60000)
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [46]:

emp_1=Employee('corey','Schafer',50000)
emp_2=Employee('user','test',60000)
emp_1.raise_amount=1.04
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.04
1.04

In [44]:
print(Employee.num_of_emps)
emp_1=Employee('corey','Schafer',50000)
emp_2=Employee('user','test',60000)
print(Employee.num_of_emps)

0
2

In [47]:
print(emp_1.__dict__)

{'pay': 50000, 'raise_amount': 1.04, 'last': 'Schafer', 'email': 'corey.Schafer@company.com', 'first': 'corey'}

In [58]:
class Employee:
    
    num_of_emps=0
    raise_amount=1.04
    
    def __init__(self,first,last,pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first+'.'+last+'@company.com'
        
        Employee.num_of_emps +=1
    
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
        
    
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
    
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amount=amount
    
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay=emp_str.split('-')
        return cls(first,last,pay)

In [50]:
Employee.set_raise_amt(1.05)

In [51]:
emp_1=Employee('corey','Schafer',50000)
emp_2=Employee('user','test',60000)
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [52]:
emp_str_1='John-Doe-70000'
emp_str_2='Steve-Smith-30000'
emp_str_3='John-Doe-90000'

In [55]:
first,last,pay=emp_str_1.split('-')
new_emp_1=Employee(first,last,pay)
print(new_emp_1.email)
print(new_emp_1.pay)

John.Doe@company.com
70000

In [59]:
new_emp_1=Employee.from_string(emp_str_1)
print(new_emp_1.email)
print(new_emp_1.pay)

John.Doe@company.com
70000

In [67]:
class Employee:
    
    num_of_emps=0
    raise_amount=1.04
    
    def __init__(self,first,last,pay):
        self.first=first
        self.last=last
        self.pay=pay
        self.email=first+'.'+last+'@company.com'
        
        Employee.num_of_emps +=1
    
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
        
    
    def apply_raise(self):
        self.pay=int(self.pay*self.raise_amount)
    
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amount=amount
    
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay=emp_str.split('-')
        return cls(first,last,pay)
    
    @staticmethod
    def is_workday(day):
        if (day.weekday() == 5) or (day.weekday()==6):
            return False
        else:
            return True

In [68]:
emp_1=Employee('corey','Schafer',50000)
emp_2=Employee('user','test',60000)

In [69]:
import datetime

In [70]:
my_date=datetime.date(2016,7,10)
print(Employee.is_workday(my_date))

False

In [71]:
my_date=datetime.date(2016,7,11)
print(Employee.is_workday(my_date))

True